
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
}
.axis text{
  fill: gray;
  stroke: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.menu_input {
  color: white;
  border: 0px;
}
.menu_div{
  padding-bottom: 1px;
}

#menu_message{
  padding-bottom: 3px;
}
